<?xml version="1.0"?>
<!--
/**
 * @author Chazki
 * @copyright Chazki © 2020
 * @package Chazki_ChazkiArg
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Custom Log -->
    <virtualType name="Chazki\ChazkiArg\Logger\VirtualLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="info" xsi:type="object">Chazki\ChazkiArg\Logger\Handler\VirtualInfo</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Chazki\ChazkiArg\Logger\Handler\VirtualInfo" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/chazki_arg.log</argument>
        </arguments>
    </virtualType>
    <!-- Assign custom Logger to Helper Class -->
    <type name="Chazki\ChazkiArg\Helper\Data">
        <arguments>
            <argument name="logger" xsi:type="object">Chazki\ChazkiArg\Logger\VirtualLogger</argument>
        </arguments>
    </type>
    <!-- END Custom Log -->

    <type name="Magento\Config\Model\Config\TypePool">
        <arguments>
            <argument name="sensitive" xsi:type="array">
                <item name="carriers/chazki_arg/api_key_live" xsi:type="string">1</item>
                <item name="carriers/chazki_arg/api_key_testing" xsi:type="string">1</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Shipping\Block\Tracking\Popup">
        <plugin name="chazki_chazkiarg_plugin_popup" type="Chazki\ChazkiArg\Plugin\Popup" />
    </type>
</config>



