<?xml version="1.0"?>
<!--
/**
 * @author Chazki
 * @copyright Chazki © 2020
 * @package Chazki_ChazkiArg
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_shipment_save_commit_after">
        <observer name="update_shipping_after_save_order_shipment" instance="Chazki\ChazkiArg\Observer\AfterShipmentSaveObserver" />
    </event>
</config>
