<?xml version="1.0"?>
<!--
/**
 * @author Chazki
 * @copyright Chazki © 2020
 * @package Chazki_ChazkiArg
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="shipping">
            <group id="chazki_arg" translate="label" type="text" sortOrder="900" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Chazki - Argentina</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="server_endpoint" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Server Endpoint</label>
                    <source_model>Chazki\ChazkiArg\Model\Config\Source\ServerEndpoint</source_model>
                </field>
                <field id="url_live" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>URL Live</label>
                    <depends>
                        <field id="shipping/chazki_arg/server_endpoint">1</field>
                    </depends>
                </field>
                <field id="url_testing" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>URL Testing</label>
                    <depends>
                        <field id="shipping/chazki_arg/server_endpoint">0</field>
                    </depends>
                </field>
                <field id="api_key_live" translate="label comment" type="obscure"  sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Key Live</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <comment>It is neccesary to generate the API Key from the Chazki Admin panel in order to use the API's services. To do that, you must login with an username and password provided by Chazki, and click on Integrations => Generate API KEY V2.</comment>
                    <depends>
                        <field id="shipping/chazki_arg/server_endpoint">1</field>
                    </depends>
                </field>
                <field id="api_key_testing" translate="label comment" type="obscure"  sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Key Testing</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <comment>It is neccesary to generate the API Key from the Chazki Admin panel in order to use the API's services. To do that, you must login with an username and password provided by Chazki, and click on Integrations => Generate API KEY V2.</comment>
                    <depends>
                        <field id="shipping/chazki_arg/server_endpoint">0</field>
                    </depends>
                </field>
                <field id="prefix" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Tracking ID Prefix</label>
                </field>
            </group>
        </section>
        <section id="carriers" translate="label" type="text" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="chazki_arg_regular" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="900">
                <label>Chazki Arg - Regular Shipping</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="name" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Method Name</label>
                </field>
                <field id="export" translate="label" type="Chazki\ChazkiArg\Block\Adminhtml\Form\Field\ExportChazkiRegular" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Export</label>
                </field>
                <field id="import" translate="label" type="Chazki\ChazkiArg\Block\Adminhtml\Form\Field\Import" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Import</label>
                    <backend_model>Chazki\ChazkiArg\Model\Config\Backend\ChazkiRegular</backend_model>
                </field>
                <field id="showmethod" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Method if Not Applicable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <frontend_class>shipping-skip-hide</frontend_class>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sort Order</label>
                </field>
            </group>
            <group id="chazki_arg_express" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="920">
                <label>Chazki Arg - Express Shipping</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="name" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Method Name</label>
                </field>
                <field id="export" translate="label" type="Chazki\ChazkiArg\Block\Adminhtml\Form\Field\ExportChazkiExpress" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Export</label>
                </field>
                <field id="import" translate="label" type="Chazki\ChazkiArg\Block\Adminhtml\Form\Field\Import" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Import</label>
                    <backend_model>Chazki\ChazkiArg\Model\Config\Backend\ChazkiExpress</backend_model>
                </field>
                <field id="showmethod" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Method if Not Applicable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <frontend_class>shipping-skip-hide</frontend_class>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sort Order</label>
                </field>
            </group>
            <group id="chazki_arg_scheduled" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="940">
                <label>Chazki Arg - Scheduled Shipping</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="name" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Method Name</label>
                </field>
                <field id="export" translate="label" type="Chazki\ChazkiArg\Block\Adminhtml\Form\Field\ExportChazkiScheduled" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Export</label>
                </field>
                <field id="import" translate="label" type="Chazki\ChazkiArg\Block\Adminhtml\Form\Field\Import" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Import</label>
                    <backend_model>Chazki\ChazkiArg\Model\Config\Backend\ChazkiScheduled</backend_model>
                </field>
                <field id="showmethod" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Method if Not Applicable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <frontend_class>shipping-skip-hide</frontend_class>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sort Order</label>
                </field>
            </group>
        </section>
    </system>
</config>
